version: '3.8'

services:
  next-app:
    container_name: next-app-prod
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped     # Meilleure option que 'always'
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    networks:
      - my_network
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 512M

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - next-app
    networks:
      - my_network

networks:
  my_network:
    name: my_network