@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.dark-mode-toggle {
  &__icon {
    display: none;

    &--light {
      display: block;

      [data-theme="dark"] & {
        display: none;
      }
    }

    &--dark {
      display: none;

      [data-theme="dark"] & {
        display: block;
      }
    }
  }
}
