@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.review-section {
  text-align: center;
  margin-top: $spacing-xl;
  margin-bottom: $spacing-3xl;
  padding: $spacing-xl $spacing-md;
  background: $color-white;

  @include dark-mode {
    background: $bg-dark;
  }

  &__title {
    font-size: $font-size-xl;
    font-weight: $font-weight-medium;
    margin-bottom: $spacing-lg;
    color: $color-text-primary;

    @include dark-mode {
      color: $text-dark;
    }
  }
}
